@font-face{font-family:'Old English Text Mt';
  src:url(../fonts/old-english-text-mt.ttf)format('truetype');
}

@font-face{font-family:'arima regular';
  src:url(../fonts/ArimaMadurai-Regular.ttf)format('truetype');
}

@font-face{font-family:'copse regular';
    src:url(../fonts/Copse-Regular.ttf)format('truetype');
}

@font-face{font-family:'berkshire regular';
    src:url(../fonts/BerkshireSwash-Regular.ttf)format('truetype');
}


html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: #ddd;
}

body, main, aside, footer {
  margin-top: 50px;
}

p {
  font-family: "copse regular";
}

/*HEADER*/

header, .navbar-default {
  background-color: #ddd;
}

.navbar-default {
  border-color: none !important;
}

.navbar-fixed-top {
  border-width: 0;
}

#brand, .navbar-default .navbar-nav>li>a, header h1, .arrow-down {
  color: #095057;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #095057;
}

header nav a:after, .navbar-header a:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0%;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

header nav a:hover:after, .navbar-header a:hover:after {
	width: 100%;
	background: #095057;
}

.welcome {
  padding: 200px;
  background: url("../images/lightning_for_arc.jpg") center center no-repeat fixed;
  background-size: cover;
}

.upAndDown {
  transition: color 0.3s linear;
}

.about {
    background: #9aafc4;
}

.description {
  font-size: 15pt;
  font-family: "berkshire regular";
  color: #000000;
}

.upAndDown:hover {
  color: #ffbf00;
}

.arrow-down a {
  color: #095057;
}

.arrow-down a:hover {
  transition: color 0.3s linear;
  color: #D38947;
}

.style7 {
  font-size: 45pt;
  font-weight: bold;
  font-family: "Old English Text Mt";
  color: #ffffff;

}

.style6 {
  color: #FFFFFF;
  font-family: "copse regular";
  font-size: 20pt;
}

/*MAIN*/

main {
  background-color: #ddd;
}

main h2 {
  padding: 30px 0;
  color: #095057;
  position: relative;
  text-align: center;
}

main h2 span {
  background: #ddd;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

main h2:before {
  background: #095057;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

h2:before {
  left: 0;
}

main .container {
  padding-bottom: 40px;
  border-bottom: 1px solid #095057;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}

.caption {
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    width: 100%;
    height: 100%;
    padding-top: 2%;
    opacity: 0;
    text-align: center;
    color: #000 !important;
    z-index: 2;
    font-family: "berkshire regular";
}

.thumbnail .caption {
    padding: 25% 0;
}

/*ASIDE*/

aside {
  background-color: #D38947;
  padding: 200px 0 200px 0;
}

aside h3 {
  display: inline-block;
}

.profile-picture {
  width: 150px;
  height: 100%;
}

/*FOOTER*/

footer {
  background-color: #ddd;
  color: #095057;
  margin-bottom: 30px;
}

footer .social {
  margin: 80px 0;
}

footer h4 {
  margin-bottom: 40px;
}

footer a {
  color: #095057;
  transition: color 0.3s linear;
  margin-right: 20px;
}

footer a:hover {
  color: #D38947;
}

footer ul, footer small {
  display: inline;
}

footer small {
  margin: 5px 20px;
  font-size: 0.7em;
}

.list-inline>li {
  margin-top: 20px;
}


@media screen and (max-width: 770px) {
  .navbar-default .navbar-collapse {
    border: none;
    text-align: center;
  }
  
  .navbar-default .navbar-collapse>li>a {
    display: inline-block;
    clear: both;
  }
  
  .thumbnail .caption {
    padding: 12% 0;
  }
  
  .navbar-default .navbar-toggle {
    border: 1px solid #095057;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #095057;
  }
  
  header nav a:hover:after, .navbar-header a:hover:after {
	width: min-content;
	background: #D38947;
}
  
}

@media screen and (max-width: 660px) {
  .welcome h1 {
    font-size: 4em;
  }
}
